html {box-sizing: border-box;}
*, ::before, ::after {box-sizing: inherit;}


body {
    background-color: #FAFAFA;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px 60px;
}

/* písmo a tak*/

h1,
h2,
p,
a {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

h1,
h2 {
    font-weight: 500;
    color: #000000
}

p {
    font-weight: 300;
    color: #8B8B8B;
    
}

a {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    display: inline-block;
}

h1 {
    font-size: 28px;
    margin: 0 0 10px;
}

h2,
p {
    font-size: 16px;
    margin: 0 0 40px;
}

.ctverecek p {
    font-size: 13px;
}

.uvod p,
.zajistime p,
.postarame p {
    padding: 0 20px;
}

/*úvod*/

.uvod img {
    max-width: 350px;
    margin: 60px 0 40px;
}

.rectangle {
    background-color: #407BFF;
    width: 60px;
    height: 2px;
    margin: 0 auto 30px;
}

.tlacitko a {
    border-radius: 20px;
    padding: 10px 30px;
}

.dobrodruzstvi a {
    background-color: #407BFF;
    margin: 0 0 10px;
}

.plaz a {
    background-color: #8B8B8B;
    margin: 0 0 60px;
}

/*druha cast*/

h2 {
    margin: 0 0 15px;
}

.sluzby p,
.delegati p {
    margin-bottom: 30px;
}

.ctverecek {
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 6px #407BFF1F;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.ctverecek p {
    margin: 30px 20px 30px 30px;
}

.horni img {
    max-width: 45px;
}

.kaktus img {
    max-width: 40px;
}

.dolni img {
    max-width: 50px;
}

.ctverecek img {
    margin: 20px 0 20px 20px;
}

.ctverecek + .ctverecek {
    margin-top: 15px;
}

.letadlo {
    margin-bottom: 60px;
}

/*tablet*/

@media screen and (min-width: 640px) {

    .tlacitka { 
        display: flex;
        justify-content: center;
    }

    .plaz a,
    .dobrodruzstvi a {
        margin-bottom: 80px;
    }
    
    .dobrodruzstvi {
        margin-right: 20px;
    }

    p {
        margin-bottom: 40px;
    }

    .uvod p {
        margin-bottom: 30px;
        padding: 0 90px;
    }

    .zajistime p,
    .postarame p {
        padding: 0 90px;
    }

    .ctverecky {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .ctverecek {
        display: block;
        margin-bottom: 80px;
    }

    .ctverecek + .ctverecek {
        margin-left: 20px;
    }

    .ctverecek img {
        margin: 40px auto 20px;
    }

    .ctverecek p {
        margin: 0 15px 40px;
    }

    .dolnaci .ctverecek {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1100px) {

body {
    max-width: 1200px;
}
    
.uvod,
.sluzby,
.delegati {
    display: flex;
    gap: 60px;
}

.uvod,
.sluzby {
    flex-direction: row-reverse;
}

.uvod,
.zajistime {
    margin-bottom: 80px;
}

.uvod {
    justify-content: space-between;
}

.traveler,
.hlava {
    flex: 1 1 490px;
}

.traveler {
    margin-top: 60px;
}

.uvod img {
    max-width: 425px;
    margin: 0;
}

.hlava {
    padding: 130px 0 0 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hlava p {
    padding: 0;
    text-align: left;
}

.rectangle {
    margin-left: 0;
}

.sluzby,
.delegati {
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.hlava a {
    margin: 0;
}

.ctverecky {
    flex: 1 1 550px;
}

.postarame,
.zajistime {
    flex: 1 1 430px;
}
}

.postarame p,
.zajistime p {
    padding: 0;
}


